* {
  margin: 0;
  padding: 0;
  border: none;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  background: #97CCFD;
  width: 400px;
  height: 600px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50;
  font: bold 2.5rem serif;
  border-bottom: solid 5px black;
  margin-bottom: 20px;
}

.input {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.input input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #000;
  box-shadow: 2px 2px 0px;
  outline: 0;
  font: bold 1.5rem serif;
  text-align: center;
}

.input label {
  font: bold 1.5rem serif;
}

.btn {
  display: inline-flex;

  color: #000;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;

  width: 80px;
  height: 40px;
  margin: 20px 15px;
  padding: 8px;
  border: 2px solid #000;
  border-radius: 10px;

  text-align: center;
  align-items : center ;
  align-content: center;
  justify-content: center;

  cursor: pointer;
}

.btn:hover {
  color: gray;
}

.btn:active {
  background-color: #DAF7A6;
}

button {
  width: 300px;
  height: 40px;
  font: bold 1.2rem serif;
  background: #000;
  color: #fff;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  display: flex;
  margin-top: 10px;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  font: italic 1.5rem serif;
  box-shadow: 0px 0px 10px black;
  background: #000;
  color: rgb(18, 198, 240);
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
}

details {
  font: 16px "Open Sans", Calibri, sans-serif;
  width: 150px;
}

details > summary {
  padding: 3px 6px;
  width: 10em;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 3px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}

details[open] > summary {
  background-color: #ccf;
}

@media (max-width: 760px) {
  main {
    display: flex;
    width: 96vw;
    height: 96vh;
    margin: 6px 6px;
    padding: 18px;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    background: #c69e33;
    width: 400px;
    height: 550px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
  }
}